
<article class="intro">
  <h2 id="nice-to-meet-you">Hello, nice to meet you!</h2>

  <div class="row">
    <aside>
      <img src="images/serg-profile.png" alt="..." class="img-rounded" width="100" height="100">
    </aside>
    <section>
      <p>Thanks for dropping by! I'm just yet another coder in Central Florida.</p>
      <p>I am a full stack developer who enjoys building meaningful products with powerful cutting edge technologies. I specially love improving user experience (UI/UX) by developing complex client-side applications.</p>
      <p>
        Feel free to contact me at any time with questions:<br >
        <strong>E.</strong> hello [at] sergiocruz.me<br />
        <strong>P.</strong> (407) six-nine-four 8175
      </p>
    </section>
  </div>
</article>

<h3 class="standout">Current projects</h3>

<div class="container">

  <p class="lead">Come back soon to see some projects I'm working on, portfolio, résumé and rants! Until then, checkout some links:</p>

  <div class="articles">
    <section>
      <h3>Coffee Finder</h3>
      <p>Pebble watchface app, shows you closest coffee shop to your current location.</p>
      <p><a href="https://apps.getpebble.com/applications/53b0d17bb9bff87a3e000077" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
    </section>

    <section>
      <h3>AngularJS Testing</h3>
      <p>Blog post describing how to unit test and generate code coverage in AngularJS.</p>
      <p><a href="https://blog.sergiocruz.me/angularjs-how-to-generate-code-coverage-for-yeoman-scaffolded-apps/" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
    </section>

    <section>
      <h3>SailsJS Testing</h3>
      <p>Unit testing SailsJS for the first time was not easy, so I wrote up a tutorial on it.</p>
      <p><a href="https://blog.sergiocruz.me/unit-test-sailsjs-with-mocha-and-instanbul-for-code-coverage/" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
    </section>
  </div>

</div>
