<h2>Workin' on it</h2>
<p class="lead">Come back soon to see some projects I'm working on, portfolio, résumé and rants! Until then, checkout some links:</p>

<div class="row">
  <section>
    <h3>Coffee Finder</h3>
    <p>Pebble watchface app, shows you closest coffee shop to your current location.</p>
    <p><a href="https://apps.getpebble.com/applications/53b0d17bb9bff87a3e000077" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
  </section>

  <section>
    <h3>AngularJS Testing</h3>
    <p>Blog post describing how to unit test and generate code coverage in AngularJS.</p>
    <p><a href="https://blog.sergiocruz.me/angularjs-how-to-generate-code-coverage-for-yeoman-scaffolded-apps/" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
  </section>

  <section>
    <h3>SailsJS Testing</h3>
    <p>Unit testing SailsJS for the first time was not easy, so I wrote up a tutorial on it.</p>
    <p><a href="https://blog.sergiocruz.me/unit-test-sailsjs-with-mocha-and-instanbul-for-code-coverage/" class="btn btn-transparent-gray" target="_blank">Check it out</a></p>
  </section>
</div>